*.pyc
*/*.png
*/EnvironmentCanada/
*/WeatherNetwork/
*/data
*/histogram/
*/svg
*/years.mk
*/environmentCanada.html
halifax/50620/
halifax/6355/
halifax/6357/
halifax/6358/
kingston/4295/
kingston/4301/
kingston/47267/
montreal/51157/
montreal/5415/
montreal/5420/
ottawa/4327/
ottawa/4333/
ottawa/4337/
ottawa/49568/
quebec/26892/
quebec/5249/
quebec/5251/
stjohns/50089/
stjohns/6718/
stjohns/6720/
thunderBay/30682/
thunderBay/4055/
toronto/5097/
toronto/51459/
vancouver/51442/
vancouver/889/
vernon/1065/
vernon/1068/
vernon/46987/
vernon/6837/
victoria/118/
victoria/51337/
whitehorse/1616/
whitehorse/1617/
whitehorse/48168/
winnipeg/27174/
winnipeg/3698/
winnipeg/3703/
winnipeg/51097/
svg3.mk
